@import "tailwindcss";

@theme {
  --color-sage: #bbf4b0;
  --color-periwinkle: #928add;
  --color-pewter: #6d8591;
  --color-buttermilk: #fff683;
  --color-lime: #5be058;
  --color-royal: #6644e8;
  --color-sky: #1cdaf4;
  --color-marigold: #ffdd33;
  --color-frost: #e7f7e7;
  --color-midnight: #241f33;
  --color-mist: #b4cbd6;
  --color-ink: #0d0a11;
  --color-chalk: #efefef;
  --color-graphite: #939393;
  --color-shadow: #23292f;
  --color-onyx: #1a1f23;

  /* Custom dimensions */
  --height-canvas: 1080px;
  --width-canvas: 1920px;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
