@import 'tailwindcss';
@import '@fontsource-variable/sora';
@import '@fontsource/fira-sans/400.css';
@import '@fontsource/fira-sans/800.css';

@font-face {
  font-family: 'Optiker K';
  src: url('/fonts/optiker-k.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'M PLUS Rounded 1c';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    url(@fontsource/m-plus-rounded-1c/files/m-plus-rounded-1c-japanese-400-normal.woff2)
      format('woff2'),
    url(@fontsource/m-plus-rounded-1c/files/m-plus-rounded-1c-japanese-400-normal.woff)
      format('woff');
}

@theme {
  --color-sage: #bbf4b0;
  --color-periwinkle: #928add;
  --color-pewter: #6d8591;
  --color-buttermilk: #fff683;
  --color-lime: #5be058;
  --color-royal: #6644e8;
  --color-sky: #1cdaf4;
  --color-marigold: #ffdd33;
  --color-frost: #e7f7e7;
  --color-midnight: #241f33;
  --color-mist: #b4cbd6;
  --color-ink: #0d0a11;
  --color-chalk: #efefef;
  --color-graphite: #939393;

  /* Shark Palette */
  --color-shark-40: #f3f5f6;
  --color-shark-80: #e8ebed;
  --color-shark-120: #dce0e5;
  --color-shark-160: #d0d6dc;
  --color-shark-200: #c5ccd3;
  --color-shark-240: #b9c2ca;
  --color-shark-280: #aeb8c2;
  --color-shark-320: #a2adb9;
  --color-shark-360: #96a3b0;
  --color-shark-400: #8b99a7;
  --color-shark-440: #7f8f9f;
  --color-shark-480: #738596;
  --color-shark-520: #697a8c;
  --color-shark-560: #607080;
  --color-shark-600: #586674;
  --color-shark-640: #4f5c69;
  --color-shark-680: #46525d;
  --color-shark-720: #3d4751;
  --color-shark-760: #353d46;
  --color-shark-800: #2c333a;
  --color-shark-840: #23292f;
  --color-shark-880: #1a1f23;
  --color-shark-920: #121417;
  --color-shark-960: #090a0c;

  /* Custom dimensions */
  --height-canvas: 1080px;
  --width-canvas: 1920px;

  /* Typography */
  --font-sans: 'Sora Variable', system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-caps: 'Optiker K', 'M PLUS Rounded 1c', system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-fira: 'Fira Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
